#app {
    background-color: #FFF0E4;
    border: 1px solid black;
    border-radius: 10px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.20);
}

#title {
color: #C06A26;
}

#information {
background-color: #D0F1F8;
padding: 20px;
border: 1px solid black;
border-radius: 10px;
text-align: left;
}

#factoring {
background-color: #FFEBD3;
border-radius: 10px;
padding: 25px;
width: fit-content;
margin: 20px auto;
}

#factoring:hover {
    box-shadow: 0px 5px 8px rgba(0,0,0,0.10);
    transform: scale(1.01);
}

#text {
color:#C06A26;
padding: 0;
}

#enterNumber {
    padding: 15px;
}

#input {
background-color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border: 1px solid black;
border-radius: 2px;
text-align: center;
}

#submit {
background-color: #08C1F2;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border: 1px solid black;
border-radius: 2px;
}

#answer {
text-wrap:balance;
background-color: #FFF0E4;
width: fit-content;
margin: auto;
padding: 10px;
border-radius: 2px;
}