body {
 background-color:rgb(248, 255, 255);
}

#all {
 background-color: rgb(221, 255, 255);
 border: 1px solid black;
 border-radius: 10px;
 padding: 50px;
 padding-top: 0;
 margin:10%;
 margin-top: 0;
 box-shadow: 0px 10px 20px rgba(0,0,0,0.20);
}

#title {
 font-size: 50px;
 text-align: center;
}

#definition {
    background-color: rgb(181, 247, 247);
    border-radius: 10px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#boxes {
    display:flex;
    text-align: center;
}

#PrimeNumbers {
 margin: 3%;
}

#titlePrimeNumbers {
    background-color: rgb(181, 247, 247);
    padding: 20px;
    border: 1px solid black;
    border-bottom: 0px;
    border-radius:10px 10px 0px 0px;
    text-align: left;
}

#contentPrimeNumbers {
    background-color: rgb(248, 255, 255);
    padding: 20px;
    border: 1px solid black;
    border-top: 0px;
    border-radius:0px 0px 10px 10px ;
    text-align: left;
}

.title-characteristics {
    padding: 0;
    margin: 0
}

.characteristic {
    padding: 0;
    margin: 5px 0 15px 0;
}

#app {
    margin: 3%;
}

#titleApp {
    background-color: rgb(181, 247, 247);
    padding: 20px 100px;
    border: 1px solid black;
    border-bottom: 0px;
    border-radius:10px 10px 0px 0px;
    text-align: center;
}

#contentApp {
    background-color: rgb(248, 255, 255);
    padding: 20px 100px;
    border: 1px solid black;
    border-top: 0px;
    border-radius:0px 0px 10px 10px ;
    text-align: center;
}

#number {
    padding: 10px;
    max-width: 300px;
}

#answerBox {
 background-color: rgb(255, 255, 255);
 border: 1px solid black;
 border-radius: 10px;
 padding: 10px;
 margin-top: 10%;
 max-width: 300px;
}

#PrimeTrue {
    background-color: rgb(180, 255, 155);
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}

#PrimeFalse {
    background-color: rgb(255, 155, 155);
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}

#allPrime {
    margin: 3%;
}

#titleAllPrime {
    background-color: rgb(181, 247, 247);
    padding: 20px 100px;
    border: 1px solid black;
    border-bottom: 0px;
    border-radius:10px 10px 0px 0px;
    text-align: center;
}

#contentAllPrime {
    background-color: rgb(248, 255, 255);
    padding: 20px 100px;
    border: 1px solid black;
    border-top: 0px;
    border-radius:0px 0px 10px 10px ;
    text-align: center;
}

#uptoNumber {
    padding: 10px;
}

#allAnswerBox {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10%;
    max-width: 238px;
}